@model ResultModel

@{ ViewData["Title"] = "Результат расчета"; }


<div class="text-center">
    <h6 class="display-4"><b>Результат расчета</b></h6>
    <form action="/Home/GraResultData">
        <table border="1" align="center" class="table table-bordered " style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
            <tr bgcolor="#343a40" style=" color:white">
                <td><h4>Название</h4></td>
                <td><h4>Значение</h4></td>
                <td><h4>Измерение</h4></td>
            </tr>
            <tr>
                <td>Количество воздухапоступающее в рекуператор</td>
                <td style="background-color:#0076A9; color:white">@Model.Teplo_VB1</td>
                <td>м<sup><small>3</small></sup>/с</td>
            </tr>
            <tr>
                <td>Количество прососанного в рекуператор воздуха</td>
                <td style="background-color:#0076A9; color:white">@Model.VBPR</td>
                <td>м<sup><small>3</small></sup>/с</td>
            </tr>
            <tr>
                <td>Количетво продуктов горения перед рекуператором</td>
                <td style="background-color:#0076A9; color:white"> @Model.VD1</td>
                <td>м<sup><small>3</small></sup>/с</td>
            </tr>
            <tr>
                <td>Теплосодержание дыма перед рекуператором</td>
                <td style="background-color:#0076A9; color:white">@Model.ID1</td>
                <td>кДж/м<sup><small>3</small></sup></td>
            </tr>
            <tr>
                <td>Теплосодержание воздуха до рекуператора</td>
                <td style="background-color:#0076A9; color:white">@Model.IV1</td>
                <td>кДж/м<sup><small>3</small></sup></td>
            </tr>
            <tr>
                <td>Теплосодержание воздуха после рекуператора</td>
                <td style="background-color:#0076A9; color:white"> @Model.IV2</td>
                <td>кДж/м<sup><small>3</small></sup></td>
            </tr>
            <tr>
                <td>Теплосодержание дыма за рекуператором</td>
                <td style="background-color:#0076A9; color:white">@Model.ID2</td>
                <td>кДж/м<sup><small>3</small></sup></td>
            </tr>
            <tr>
                <td>Средно логорифмический разность температур</td>
                <td style="background-color:#0076A9; color:white">@Model.DELTAT1</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Результат P</td>
                <td style="background-color:#0076A9; color:white">@Model.P</td>
                <td>м<sup><small>3</small></sup>/с</td>
            </tr>
            <tr>
                <td>Результат R</td>
                <td style="background-color:#0076A9; color:white">@Model.R</td>
                <td>м<sup><small>3</small></sup>/с</td>
            </tr>
            <tr>
                <td>Действительная средне логорифмическая разность температур</td>
                <td style="background-color:#0076A9; color:white">@Model.DELTAT</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Общое число блоков</td>
                <td style="background-color:#0076A9; color:white">@Model.ZCUMMA</td>
                <td>шт.</td>
            </tr>
            <tr>
                <td>Скорость дыма в рекуператоре</td>
                <td style="background-color:#0076A9; color:white"> @Model.WOD</td>
                <td>м/с</td>
            </tr>
            <tr>
                <td>Скорость воздуха в рекуператоре</td>
                <td style="background-color:#0076A9; color:white">@Model.WOV</td>
                <td>м/с</td>
            </tr>
            <tr>
                <td>Cредняя температура дыма в рекуператоре</td>
                <td style="background-color:#0076A9; color:white">@Model.TD</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Коэффицент конвективного теплообмена</td>
                <td style="background-color:#0076A9; color:white">@Model.ALFADK</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>
            <tr>
                <td>Коэффицент истегного значения</td>
                <td style="background-color:#0076A9; color:white">@Model.ALFADL</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>
            <tr>
                <td>Средняя температура воздуха в рекуператоре</td>
                <td style="background-color:#0076A9; color:white">@Model.TV</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Средняя температура стенки</td>
                <td style="background-color:#0076A9; color:white">@Model.TCT</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Средняя температура воздуха в пограничном слое</td>
                <td style="background-color:#0076A9; color:white">@Model.TVPG1</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Температурный напор</td>
                <td style="background-color:#0076A9; color:white">@Model.DELTATNAP</td>
                <td><sup><small>0</small></sup>С</td>
            </tr>
            <tr>
                <td>Коэффицент теплоотдачи от стенки к воздуху</td>
                <td style="background-color:#0076A9; color:white">@Model.ALFAV</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>
            <tr>
                <td>Коэффицент теплопроводности материала</td>
                <td style="background-color:#0076A9; color:white">@Model.lSH</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>
            <tr>
                <td>Коэффицент теплоотдачи от дыма к стенки рекуператора </td>
                <td style="background-color:#0076A9; color:white">@Model.ALFAD</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>

            <tr>
                <td>Коэффицент теплоотдачи в рекуператоре</td>
                <td style="background-color:#0076A9; color:white"> @Model.K</td>
                <td>Вт/м<sup><small>2</small></sup>*град.</td>
            </tr>
            <tr>
                <td>Количество теплоты передоваемая воздуху в рекуператоре </td>
                <td style="background-color:#0076A9; color:white"> @Model.QV</td>
                <td>Вт</td>
            </tr>
            <tr>
                <td>Поверхность нагрева </td>
                <td style="background-color:#0076A9; color:white"> @Model.F</td>
                <td>м<sup><small>2</small></sup></td>
            </tr>
            <tr>
                <td>Поверхность рекуператора  </td>
                <td style="background-color:#0076A9; color:white"> @Model.F1</td>
                <td>м<sup><small>2</small></sup></td>
            </tr>
            <tr>
                <td>Разность между Поверхности нагрева и Поверхность рекуператора </td>
                <td style="background-color:#0076A9; color:white"> @Model.FRaz</td>
                <td>м<sup><small>2</small></sup></td>
            </tr>
            <tr>
                <td>Разность между Поверхности нагрева и Поверхность рекуператора </td>
                <td style="background-color:#0076A9; color:white"> @Model.TV2</td>
                <td>м<sup><small>2</small></sup></td>
            </tr>
        </table>

        <button class="button1" type="submit" target="_blank">Построить График</button>

    </form>
    <script>
        alert('Внимание!\nОптимальное значение для "Конечная температура подающего воздуха в рекуператор" является: @Model.TV2')
    </script>

    <style>
            .button1 {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                transition-duration: 0.4s;
                background-color: white;
                border: none;
                color: green;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-color: red;
                text-align: center;
            }

                .button1:hover {
                    background-color: green;
                    color: white;
                }
            /*body {
            background-image: url(/img/brady-rogers-DZx92IT56FU-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }*/
    </style>

</div>
